/*********************************
 * Minimal Rofi Theme
 *********************************/

* {
    bg:        #0F1011;
    bg-alt:    rgba(49, 50, 68, 60%);
    bg-light:  #1A1A1A;
    fg:        #ffffff;
    fg-muted:  #ffffff;
    accent:    #263380;
    highlight: bold #FFEB80;
    shadow:    #0A0A0A;

    background-color: transparent;
    text-color: @fg;
    font: "Arimo Nerd Font Mono 9";
}

/* Window */
window {
    width: 500px;
    location: center;
    anchor: north;
    y-offset: -120px;
    background-color: @bg;
    border: 1px;
    border-color: @fg;
}

mainbox {
    spacing: 15px; /* Espacio entre el inputbar y la lista */
    children: [ inputbar, listview, mode-switcher ];
    margin: 18px;
}

/* Contenedor del Input */
inputbar {
    children: [ container-prompt, entry, contador ];
    spacing: 10px; 
    orientation: horizontal;
    /*margin: 15px 15px 0px 15px;*/
    enabled: true;
}

container-prompt {
    expand: false;
    width: 75px;
    background-color: @accent;
    border-radius: 5px;
    
    orientation: horizontal;
    children: [ dummy, prompt, dummy ];
}

/* Espaciador invisible que empuja al prompt al centro */
dummy {
    expand: true;
}

prompt {
    enabled: true;
    padding: 10px 0px;
    text-color: @fg;
    vertical-align: 0.5;
}


/* Ajuste del entry para que no se sienta pegado */
entry {
    expand: true;
    padding: 10px;
    background-color: @bg-alt;
    border-radius: 5px;
    placeholder: "Escribe para filtrar...";
    placeholder-color: @fg-muted;
    vertical-align: 0.5;
}

contador {
	children: [ "num-filtered-rows", "textbox-num-sep", "num-rows" ];
	expand: false;
	orientation: horizontal;
	padding: 10px 8px 10px 8px;
	vertical-align: 0.5;
    background-color: @bg-alt;
    border-radius: 5px;
	vertical-align: 0.5;
}

num-filtered-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            transparent;
    text-color:                  inherit;
}
textbox-num-sep {
    enabled:                     true;
    expand:                      false;
    str:                         "/";
    background-color:            transparent;
    text-color:                  inherit;
}
num-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            transparent;
    text-color:                  inherit;
}


/* Listview y Elementos*/
listview {
    lines: 4;
    columns: 2;
    spacing: 10px;
    scrollbar: false;
    fixed-height: false;
    /*margin: 0 15px 0px 15px;*/
}

element {
    padding: 10px;
    border-radius: 5px 5px;
    background-color: @bg-light;
    border: 0 0 0 5px;
    border-color: transparent;
}

element-text {
    text-color: @fg-muted;
    margin: 0 0 0 5px;
}

element selected {
    background-color: @accent;
    border-color: white;
}

mode-switcher {
	enabled: true;
	spacing: 10px;
    /*margin: 0 15px 15px 15px;*/
}

button {
	padding: 8px;
    border-radius: 5px;
	background-color:  @bg-alt;
}

button selected {
	background-color: @accent;
}
