configuration {
	modi: "drun,󰯂  Run:~/Scripts/launcher-scripts.sh";
    drun-display-format: "{name}";
    drun-match-fields: "name";
    fixed-num-lines: false;
    display-drun: "  Apps";
    display-run:  "";
}

@theme "Arc-Dark-By.rasi"
