configuration {
    display-drun: "Apps";
    drun-display-format: "{name}";
    drun-match-fields: "name";
    fixed-num-lines: false;
    display-drun: "";
    display-run:  "";
}

@theme "Arc-Dark-By.rasi"
